.font-inter{
  font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(37, 224, 27);
}

body{
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
    
}
.logo h2{
    color: white;
    font-weight: bold;
    font-size: 2em;
}
.logo span{
    font-weight: bold;
    
    background: linear-gradient(to right, #ff2c02, #d767b3 ,pink) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.list-item{
    list-style: none;
    
}
.list-item ul{
   
    display: flex;
    gap: 20px;
}
.list-item a{
     color: #ffffff;
}

.sub-btn button{
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 20px;
    color: #ffffff;
    background: linear-gradient(to right, #ffce3c, #d708c2);
    border-radius: 30px;
}
.sub-btn i{
    color: #ffffff;
}
.banner{
    background-image:url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding:101px 0px 101px 0px;
    margin: 0 auto;
    text-align: center;
}
.mic-bg{
    margin: 0 auto;
    width: 116px;
    position: relative;
    top: -280px;
}
.mic-pic{
    margin: 0 auto;
    width: 350px;
}
.new-btn{
    font-weight: bold;
    background-color: rgba(28, 255, 127, 0.781);
    color: rgb(0, 0, 0);
    padding: 2px 10px;
    border-radius: 20px;
    position: relative;
    left: 110px;
    top: 50px;
    box-shadow: 0px 0px 10px;
}
.titl{
    position:relative;
    top: -130px;
    
}
.titl h2{
    font-weight: bold;
    color: #ffffff;
    font-size: 3.5em;
}
.titl p{
    color: #ffffff;
}
.titl-btn-1{
    background:linear-gradient(to right, yellow ,rgb(225, 64, 166) ,rgb(225,64,166));
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
    color: #ffffff;
    font-weight: bold;
}
.titl-btn-2{
    margin-top: 20px;
    border: 1px solid;
    padding: 5px 15px;
    border-radius: 30px;
}
