.font-inter{
  font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(37, 224, 27);
}

body{
    max-width: 1600px;
    margin: 0 auto;
    background: #1A0B2E;
}

nav{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px 16px 10px;
    
}
.logo h2{
    color: white;
    font-weight: bold;
    font-size: 2em;
}
.logo span{
    font-weight: bold;
    
    background: linear-gradient(to right, #ff2c02, #d767b3 ,pink) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.list-item{
    list-style: none;
    
}
.list-item ul{
   
    display: flex;
    gap: 20px;
}
.list-item a{
     color: #ffffff;
}

.sub-btn button{
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 20px;
    color: #ffffff;
    background: linear-gradient(to right, #ffce3c, #d708c2);
    border-radius: 30px;
}
.sub-btn i{
    color: #ffffff;
}
.banner{
    
    background-image:url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding:101px 0px 101px 0px;
    margin: 0 auto;
    text-align: center;
}
.mic-bg{
    margin: 0 auto;
    width: 116px;
    position: relative;
    top: -280px;
}
.mic-pic{
    margin: 0 auto;
    width: 350px;
}
.new-btn{
    font-weight: bold;
    background-color: rgba(28, 255, 127, 0.781);
    color: rgb(0, 0, 0);
    padding: 2px 10px;
    border-radius: 20px;
    position: relative;
    left: 110px;
    top: 50px;
    box-shadow: 0px 0px 10px;
}
.titl{
    position:relative;
    top: -130px;
    
}
.titl h2{
    font-weight: bold;
    color: #ffffff;
    font-size: 3.5em;
}
.titl p{
    color: #ffffff;
}
.titl-btn-1{
    background:linear-gradient(to right, yellow ,rgb(225, 64, 166) ,rgb(225,64,166));
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
    color: #ffffff;
    font-weight: bold;
}
.titl-btn-2{
    margin-top: 20px;
    border: 1px solid;
    padding: 5px 15px;
    border-radius: 30px;
}
.podcast-sec{
    margin: 0 auto;
    
    max-width: 1200px;
    padding-top: 20px;
    text-align: center;
}
.about h2{
    font-weight: bold;
    font-size: 3em;
    color: #ffffff;
}
.about p {

    color: #ffffff;
    padding: 20px;
}
.rating h2{
    font-size: 3rem;
}
.rating p{
    font-weight: normal;
    font-size: 1em;
    color: #ffffff;
}
.average i {
    font-size: 35px;
    
}
.rating{
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.choose-sction{
    
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

.card-1{
    align-content: center;
    padding: 20px;
    grid-row: span 2;
    background: #3511655e;
    border-radius: 30px;
}

.card-2{
    align-content: center;
    grid-column: span 2;
    background: #3511655e;
    border-radius: 30px;
    padding: 20px;
}
.card-3{
    align-content: center;
    grid-column: span 2;
    background: #3511655e;
    border-radius: 30px;
    padding: 20px;
}
.card-4{
    align-content: center;
    grid-column: span 2;
    background: #3511655e;
    border-radius: 30px;
    padding: 20px;
}
.card-5{
    align-content: center;
    background: #3511655e;
    border-radius: 30px;
    padding: 20px;
}
.choose-sction h3{
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.5em;
    color: #ffffff;
}
.choose-sction p{
    padding-top: 10px;
    font-size: 1em;
    color: #ffffffbc;
}
.feu-epsd{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 120px 10px 120px 10px;
}
.feu-epsd h2{
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
}
.video-section{
    
    padding-top: 20px;
    display: flex;
    gap: 10px;
    
}
.video-card{
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background: #3511655e;
    width: 380px;
    
}
iframe{
    border-radius: 15px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.video-card h3,p{
    padding: 10px;
    color: #ffffffee;
}
.video-card h3{
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 15px;
}
.video-card p{
    font-size: 1em;

}
.host-section{
    margin: 0 auto;
    max-width: 1200px;
}
#meet{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 20px
}
#name{
    padding-top:20px ;
    font-weight: bold;
    color: #ffffff;
    font-size: 2em;
    padding-left: 10px;
}
.host-pic{
    padding: 20px;

}
.host-pic img{
    width: 400px;
    height: 170px;
}
.host-content{
    display: flex;
    align-items: center;
    background: #38136984;
}
.host-contact{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.host-contact a{
    padding: 10px;
    border-radius: 50%;
    border:1px solid #d708c2;
}
.host-info{

    text-align: left;
}
